RewriteEngine On


################
# Admin Panel #
###############

#Admin Panel
RewriteRule ^admin/process/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/$ /admin/process.php?CSRFtoken=$1&type=$2&id=$3&class=$4&state=$5 [L]
RewriteRule ^admin/process/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)$ /admin/process.php?CSRFtoken=$1&type=$2&id=$3&class=$4&state=$5 [L]


###################
# Ster Opdrachten #
###################

#view
RewriteRule ^ster-opdrachten/view/([^/]*)/$ /ster-opdrachten/view.php?id=$1 [L]
RewriteRule ^ster-opdrachten/view/([^/]*)$ /ster-opdrachten/view.php?id=$1 [L]

#edit
RewriteRule ^ster-opdrachten/edit/([^/]*)/([^/]*)/$ /ster-opdrachten/edit.php?id=$1&type=$2 [L]
RewriteRule ^ster-opdrachten/edit/([^/]*)/([^/]*)$ /ster-opdrachten/edit.php?id=$1&type=$2 [L]

#feedback
RewriteRule ^ster-opdrachten/feedback/([^/]*)/([^/]*)/$ /ster-opdrachten/feedback.php?id=$1&type=$2 [L]
RewriteRule ^ster-opdrachten/feedback/([^/]*)/([^/]*)$ /ster-opdrachten/feedback.php?id=$1&type=$2 [L]

#join
RewriteRule ^ster-opdrachten/join/([^/]*)/([^/]*)/$ /ster-opdrachten/join.php?id=$1&type=$2 [L]
RewriteRule ^ster-opdrachten/join/([^/]*)/([^/]*)$ /ster-opdrachten/join.php?id=$1&type=$2 [L]

###########
# General #
###########

#Agenda
RewriteRule ^general/pdf/([^/]*)/$ /general/pdf.php?random_id=$1 [L]
RewriteRule ^general/pdf/([^/]*)$ /general/pdf.php?random_id=$1 [L]

#Upload
RewriteRule ^general/upload/([^/]*)/([^/]*)/$ /general/upload.php?type=$1&id=$2 [L]
RewriteRule ^general/upload/([^/]*)/([^/]*)$ /general/upload.php?type=$1&id=$2 [L]

##############
# Leerlingen #
##############

#Search in Index
RewriteRule ^leerlingen/search/([^/]*)/$ /leerlingen/index.php?search=$1 [L]
RewriteRule ^leerlingen/search/([^/]*)$ /leerlingen/index.php?search=$1 [L]

##########
# Overig #
##########

# Remove .php extension
RewriteCond %{DOCUMENT_ROOT}/$1\.php -f
RewriteRule ^(.+?)/?$ /$1.php [L]
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ - [L]

# block access to .pdf
<Files ~ "\.pdf$">
    Order allow,deny
    Deny from all
</Files>

#Error handling
ErrorDocument 404 /general/error?code=404
